body {
  margin: 40px;
  font-family: Arial, sans-serif;
}

.wrapper {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  font-size: 100%;
  height: 90%;
}
.a {
  background-color: blue;
}

.b {
  background-color: orangered;
}

.c {
  background-color: green;
}

.d {
  background-color: red;
}

.e {
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.chosenOne {
}
